* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: "Roboto", sans-serif;
  background-color: black;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

.morePicture {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;

  button {
    padding: 0.5rem 0.75rem;
    font-size: 1.5rem;
    color: white;
    border: none;
    background-color: rgb(227, 18, 81);
    cursor: pointer;
    border-radius: 6px;
  }
}

@import "./nav";
@import "./search";
@import "./footer";
@import "./picture";
